################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankingGUIApp/FileContentIndex/00b1be20-e4ac-4589-b20c-c515dab4de74.vsidx
/.vs/BankingGUIApp/FileContentIndex/631a6a75-d96c-4a10-982d-bce3d41347b8.vsidx
/.vs/BankingGUIApp/FileContentIndex/662ef77e-c6b6-41a8-85ef-77a1c2b08a48.vsidx
/.vs/BankingGUIApp/FileContentIndex/cbaa4bdb-4ac9-486f-abaf-3d48bf0d4b53.vsidx
/.vs/BankingGUIApp/FileContentIndex/eb6c7827-d786-4b86-a0e2-379b725dea29.vsidx
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/bankingguiapp.metadata.v9.bin
/.vs/ProjectEvaluation/bankingguiapp.projects.v9.bin
/.vs/ProjectEvaluation/bankingguiapp.strings.v9.bin
/.vs/BankingGUIApp/FileContentIndex/491b3b91-eea7-4f6c-bf30-a919bda32806.vsidx
/.vs/BankingGUIApp/FileContentIndex/61a96470-108a-497f-8aff-c070c0609c44.vsidx
/.vs/BankingGUIApp/FileContentIndex/f740d1c9-bbfb-479c-839a-944aa7f8a808.vsidx
